.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: #fdfdfd;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: auto;
    margin-top: 100px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #030000;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: #030000;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #a32738;
    color: #fdfdfd;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;   
  }

  .modalContainer .footer button:hover {
    background: #60000D;
    transition: all 0.2s ease-in-out;
}
  
  #cancelBtn {
    background-color: #63625d;
  }

  #cancelBtn:hover {
    background: #2e2d2c;
    transition: all 0.2s ease-in-out;
}