@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0;
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Lora', serif;
  }