@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lora', serif;
    align-items: center;
    background: url('../../images/castle.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: scroll;
  }
  
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 600px;
    height: 600px;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 16px 16px;
    margin-bottom: 32px;
  }
  
  .form-container .header {
    flex: 20%;
    display: grid;
    place-items: center;
    color: #030000;
  }
  
  .form-container .body {
    flex: 60%;
    font-family: 'Lora', serif;
  }
  
  .form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
  }
  
  .form-container .footer button {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    background: linear-gradient(90deg, #60000D, #a32738);
    font-weight: bold;
    color: #fdfdfd;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    margin: 5px;
    font-family: 'Lora', serif;
    font-size: 16px;
  }

  .form-container .footer button:hover {
    transition: all 0.2s ease-in-out;
    background: linear-gradient(90deg, #2e2d2c, #63625d);
  }

  .sign-up-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    margin-bottom: 32px;
  }
  
  .sign-up-container input {
    margin: 5px;
    width: 200px;
    height: 50px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Lora', serif;
    border-radius: 2px;
    margin-bottom: 1rem;
    border-color: #030000;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    color: #030000;
  }

  .location-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    margin-bottom: 32px;
    border-color: #030000;
  }

  .location-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Lora', serif;
    border-radius: 2px;
    border-color: #030000;
    background: #fdfdfd;
    margin-bottom: 4rem;
    margin-left: -8px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    color: #030000;
  }

.personal-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-container input {
  margin: 5px;
  width: 200px;
  height: 25px;
  padding-left: 5px;
  font-size: 20px;
  font-family: 'Lora', serif;
  margin-bottom: 1rem;
  border-radius: 2px;
  border-color: #030000;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  color: #030000;
}
    
  .education-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .education-container input {
    margin: 5px;
    width: 200px;
    height: 50px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
    border-radius: 2px;
    border-color: #030000;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    color: #030000;
  }
  
  .career-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .career-container input {
    margin: 5px;
    width: 200px;
    height: 50px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
    border-radius: 2px;
    border-color: #030000;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    background: #fdfdfd;
    color: #030000;
  }

  .contact-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photo-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photo-container input {
    font-size: 20px;
    width: 400px;
    height: 50px;
    margin-top: -40px;
    font-family: 'Lora', serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 2px;
    margin-left: -320px;
    border: none;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: rgba(36, 31, 32, 0.5);
    color: #030000;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  .contact-container input {
    margin: 7px;
    width: 200px;
    height: 50px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Lora', serif;
    margin-bottom: 1rem;
    border-radius: 2px;
    border-color: #030000;
    color: #030000;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  }

  .upload {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    background-color: #63625d;
    font-weight: bold;
    color: #fdfdfd;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    font-family: 'Lora', serif;
    font-size: 16px;
    margin-left: 320px;
  }
  
  .progressbar {
    width: 400px;
    height: 10px;
    margin-top: 40px;
    background-color: #63625d;
    margin-bottom: 30px;
  }
  
  .progressbar div {
    width: 20%;
    height: 100%;
    background-color: #a32738;
  }
  
  input {
    border: 2px solid #030000;
    border-radius: 10px;
  }
  
  input:focus {
    border: 3px solid #030000;
  }

  .select {
    width: 250px;
    height: 140px;
    position: relative;
  }
  
  .select-menu {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    overflow-y: scroll;
  }
  