<header>
  <div class="smoothie">
    <img src="/Maryvale_M_02.jpg" alt="">
  </div>
  <div class="headings">
    <h2></h2>
    <h3></h3>
    <a href="/options" class="btn">View Network</a>
  </div>
</header>
