<ul class="options">
  <li class="option">
    <img src="/Paw Print.jpg" alt="option icon">
    <h4>Alumnae Directory</h4>
  </li>
  <li class="option">
    <img src="/Paw Print.jpg" alt="option icon">
    <h4>Career Center</h4>
  </li>
  <li class="option">
    <img src="/Paw Print.jpg" alt="option icon">
    <h4>Message Board</h4>
  </li> 
</ul>
