@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.directory {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}

.user-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    font-family: 'Lora', serif;
    color: #a32738;
}

.user-details p {
    margin: 0;
    font-size: 0.9em;
    font-family: 'Lora', serif;
    color: #030000;
}
