@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #fdfdfd;
    border-radius: 10px;
    font-family: 'Lora', serif;
  }
  h2 {
    text-align: center;
    margin: 20px 0;
  }
  .textLeft {
    text-align: left;
  }

  .card {
    height: 150px;
    width: 250px;
    border: none;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 0 3px 10px #030000;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 16px;
    color: #a32738;
    font-weight: bold;
    text-align: center;
  }

  .classYear {
    font-size: 16px;
    color: #030000;
    font-weight: bold;
    text-align: center;
  }