.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fdfdfd;
}

.body {
    height: 500px;
    display: flex;
}

.table-container {
    flex: 3;
    position: relative;
}

.filter-container {
    flex: 1;
}