@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0;
    font-family: 'Lora', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Lora', serif;
  }

  .custom-file-upload {
    height: 50px;
    width: 50px;
  }

  .photo-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
  }

  .photo-container input {
    font-size: 20px;
    width: 400px;
    height: 50px;
    margin-top: 30px;
    margin-right: 60px;
    font-family: 'Lora', serif;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 2px;
    border: none;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: rgba(36, 31, 32, 0.5);
    color: #fdfdfd;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }